<link href="../../static/css/admin/admin_home_page.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

{% extends "layout.html" %}
{% block title %}{{ hotel.name }}{% endblock %}
{% block body %}
    {% include "components/admin/navbar.html" %}
    <div class="container">
        <section class="content-header" style="text-align: center;">

            <h1>{{ hotel.name }}</h1>
            <hr>
            {% if hotel.logo %}
                <img class="img-thumbnail" width="150" alt="logo"  src='data:image/png;base64,{{ hotel.logo }}' >

            {% else %}
                <img class="img-thumbnail" width="150" alt="logo" src="http://www.staticwhich.co.uk/static/images/products/no-image/no-image-available.png">
            {% endif %}
            <hr>
        </section>

        <section class="content">
            <div class="card" style="box-shadow: 0 0 0px rgba(0,0,0,0);">
                <div class="card-header p-2">
                    <ul class="nav nav-pills">
                        <li class="nav-item text-center" style="width: 20%">
                            <a class="nav-link active show" href="#images" data-toggle="tab"><i class="fa fa-images" aria-hidden="true"></i> Photos</a>
                        </li>

                        <li class="nav-item text-center" style="width: 20%">
                            <a class="nav-link" href="#information" data-toggle="tab"><i class="fas fa-info-circle" aria-hidden="true"></i></i> Information</a>
                        </li>

                        <li class="nav-item text-center" style="width: 20%">
                            <a class="nav-link" href="#contact" data-toggle="tab"><i class="fas fa-address-book" aria-hidden="true"></i> Contact</a>
                        </li>

                        <li class="nav-item text-center" style="width: 20%">
                            <a class="nav-link" href="#location" data-toggle="tab"><i class="fas fa-map-marked-alt" aria-hidden="true"></i> Location</a>
                        </li>

                        <li class="nav-item text-center" style="width: 20%">
                            <a class="nav-link" href="#comments" data-toggle="tab"><i class="fas fa-comments" aria-hidden="true"></i> Comments</a>
                        </li>

                    </ul>
                </div>

                <div class="card-body" style="background-color: #f4f6fa;border-color: #f4f6fa; padding: 0px; padding-top: 10px;">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="images">
                            <div class="card card-default color-palette-box">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fa fa-images" aria-hidden="true"></i>
                                        Photos
                                    </h3>
                                </div>
                                <div class="card-body firm-info">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div id="demo" class="carousel slide" data-ride="carousel">
                                              <!-- Indicators -->


                                                <ul class="carousel-indicators">

                                                    {% for image in images %}
                                                        <li data-target="#demo" data-slide-to="{{ loop.index0 }}"></li>
                                                    {% endfor %}

                                                </ul>

                                              <!-- The slideshow -->
                                                <div class="carousel-inner">
                                                    {% for image in images %}
                                                        {% if image == images[0] %}
                                                            <div class="carousel-item active">
                                                                <img class="img-rounded" src='data:image/png;base64,{{ image }}'  width="1100" height="500">

                                                            </div>
                                                        {% else %}
                                                            <div class="carousel-item">
                                                                <img class="img-rounded" src='data:image/png;base64,{{ image }}'  width="1100" height="500">

                                                            </div>

                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            <!-- Left and right controls -->
                                                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                                                    <span class="carousel-control-prev-icon"></span>
                                                </a>
                                                <a class="carousel-control-next" href="#demo" data-slide="next">
                                                    <span class="carousel-control-next-icon"></span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="information">
                            <div class="card card-default color-palette-box">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-info-circle" aria-hidden="true"></i>
                                        Information
                                    </h3>
                                </div>
                                <div class="card-body firm-info">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            {{ hotel.description }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="contact">
                            <div class="card card-default color-palette-box">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-address-book" aria-hidden="true"></i>
                                        Phone
                                    </h3>
                                </div>
                                <div class="card-body firm-info">
                                    {{ hotel.phone }}
                                </div>
                            </div>
                            <div class="card card-default color-palette-box">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-globe-americas" aria-hidden="true"></i>
                                        Website
                                    </h3>
                                </div>
                                <div class="card-body firm-info">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <a target="_blank" href="www.{{ hotel.website }}">{{ hotel.website }}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="location">
                            <div class="card card-default color-palette-box">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-map-marked-alt" aria-hidden="true"></i>
                                        Adress
                                    </h3>
                                </div>
                                <div class="card-body firm-info">
                                    {{ hotel.address }}
                                </div>
                            </div>
                            <div class="card card-default color-palette-box">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-map-pin" aria-hidden="true"></i>
                                        City
                                    </h3>
                                </div>
                                <div class="card-body firm-info">
                                    {{ city_name }}
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane" id="comments">
                            <div class="card card-default color-palette-box">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="fas fa-comments" aria-hidden="true"></i>
                                        Add Comment
                                    </h3>
                                </div>
                                <div class="card-body firm-info">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <!--<form action="#" method="post" class="form-horizontal" id="commentForm" role="form">-->
                                                <div class="form-group">
                                                    <label for="email" class="col-sm-2 control-label">Comment</label>
                                                    <div class="col-sm-10">
                                                      <textarea class="form-control" name="addComment" id="addComment" rows="5"></textarea>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="uploadMedia" class="col-sm-2 control-label">Upload media</label>
                                                    <div class="col-sm-10">
                                                        <div class="input-group">
                                                          <div class="input-group-addon">http://</div>
                                                          <input type="text" class="form-control" name="uploadMedia" id="uploadMedia">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <div class="col-sm-offset-2 col-sm-10">
                                                        <button class="btn btn-success btn-circle text-uppercase" type="submit" id="submitComment"><span class="glyphicon glyphicon-send"></span> Summit comment</button>
                                                    </div>
                                                </div>
                                            <!--</form>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default color-palette-box">
                                <div class="card-header">
                                    <h3 class="card-title">
                                        <i class="far fa-comments" aria-hidden="true"></i>
                                        Old Comments
                                    </h3>
                                </div>
                                <div class="card-body firm-info">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <h2>User Name</h2>
                                            <p>comment</p>
                                            <hr>
                                            <h2>ap****</h2>
                                            <p>comment......</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <br>
    <br>
    {% include "components/admin/footer.html" %}

{% endblock %}