<link href="../../static/css/admin/admin_home_page.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<style>

    .g-recaptcha.error {
      border: solid 2px #c64848;
      padding: .2em;
      width: 19em;
    }
</style>
{% extends "layout.html" %}
{% block title %}Ticketz -  Driver Add{% endblock %}
{% block body %}
    {% include "components/firm/navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <section class="content">
                    <div style="background-color:powderblue;" class="card">

                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>Preview</h1>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="card-body">
                            <label>Driver Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-hotel"></i>
                                    </span>
                                </div>
                                    <input disabled id="js_driver_name" type="text" class="form-control" >
                            </div>
                            <br>

                            <label>Driver e-Mail</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-at"></i>
                                    </span>
                                </div>
                                <input disabled id="js_e_mail" type="text" class="form-control" >
                            </div>
                            <br>
                            <label>Phone</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-phone-square"></i>
                                    </span>
                                </div>
                                <input disabled id="js_phone" type="text" class="form-control" >
                            </div>
                            <br>
                            <label>Gender</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                    </div>
                                    <input disabled id="js_gender" type="text" class="form-control" >
                                </div>
                            <br>

                            <label>City</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-map"></i>
                                    </span>
                                </div>
                                <input disabled id="js_city" type="text" class="form-control" >
                            </div>
                            <br>

                            <label>Driver Address</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </span>
                                    </div>
                                    <textarea disabled id="js_address" class="form-control"></textarea>
                                </div>
                            <br>


                        </div>

                    </div>
                </section>


            </div>
            <div class="col-sm-7">
                <section class="content">
                    <div class="card">

                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>Add Driver</h1>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="card-body">
                            <form method="post" action="" enctype = "multipart/form-data"  role="form" name="add_driver" id="add_driver">
                                <label for="driver_name" >Driver Name*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-hotel"></i>
                                        </span>
                                    </div>
                                    <input name="driver_name" id="driver_name" type="text" class="form-control" placeholder="Enter The Driver Name" maxlength="20" required>
                                </div>

                                <br>
                                <label for="e_mail">Driver e-Mail*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-at"></i>
                                        </span>
                                    </div>
                                    <input name="e_mail" id="e_mail" type="text" class="form-control" placeholder="Enter The Driver e-Mail" maxlength="20" required>
                                </div>
                                <br>
                             <label for="phone">Phone*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-phone-square"></i>
                                        </span>
                                    </div>
                                    <input name="phone" id="phone" type="text" class="form-control" placeholder="Enter The Phone" maxlength="20" required>
                                </div>
                                <br>


                                <label for="gender">Gender</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                    </div>
                                    <input name="gender" id="gender" type="text" class="form-control" placeholder="Gender" maxlength="20" required>
                                </div>
                                <br>

                                <label for="city">City</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map"></i>
                                        </span>
                                    </div>
                                    <select class="form-control" name="city" id="city">
                                        {% for (id, city_name) in cities %}
                                            <option value="{{ id }}">{{ city_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <br>

                                <label for="address">Driver Address</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </span>
                                    </div>
                                    <textarea name="address" id="address" class="form-control" placeholder="Enter The Driver Address" maxlength="200" required></textarea>
                                </div>
                                <br>

                                <div class="input-group">
                                    <div id="recaptcha" class="g-recaptcha" data-sitekey="6LccwnwUAAAAAG8JphQH654xXnS00pNpgzmjTxUX"></div>

                                </div>


                                <br>

                            </form>
                            <div class="card-footer">
                                <button type="submit" onclick="add()" class="btn btn-info float-right">Submit</button>
                                <button type="submit" class="btn btn-default" onclick="document.getElementById('add_driver').reset();">Clear</button>
                            </div>

                            <div class="message-box-danger-length" style="display: none">
                                <div class="alert alert-danger alert-dismissible" style="display:block; margin: 10px;">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    5-20 characters *</div>
                            </div>
                        </div>

                            </div>
                </section>



            </div>

        </div>
    </div>

    <br>
    <br>
    {% include "components/firm/footer.html" %}
<script src="../../static/js/driver/add_driver.js"></script>

{% endblock %}