<link href="../../static/admin/admin_home_page.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% extends "layout.html" %}
{% block title %}Driver List{% endblock %}
{% block body %}
    {% include "components/firm/navbar.html" %}
    <div class="container">
        <div style="margin-top: 150px;" class="container">
        <h3>Driver List</h3>
        <hr>

        <br>
        <table class="table">
            {% if hotels==[] %}
                <div class="alert alert-warning" role="alert">
                    There is not any Driver
                </div>
            {% else%}
                <thead>
                        <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Driver Name</th>
                        <th scope="col">score</th>
                        <th scope="col">Vote Number</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for (id, driver) in drivers %}
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td>{{ driver.name}}</td>
                                <td>{{ driver.score}}</td>
                                <td>{{ driver.vote_number}}</td>
                                <td><a href="/firm/driver_edit/{{ id}}" class="btn btn-info">Edit</a></td>
                                <td><a href="/firm/delete_driver/{{ id}}" class="btn btn-danger">Delete</a></td>


                            </tr>
                        {% endfor %}


                    </tbody>
                </table>

            {% endif %}



    </div>
    </div>
    {% include "components/firm/footer.html" %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{% endblock %}






