<!--<div class="card mb-3">
  <img class="card-img-top" src="https://i.pinimg.com/736x/0e/bb/07/0ebb078f6b61be87a4b04660f4cdc313--lew-banner.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Hotel Name</h5>
    <p class="card-text">Hotel Description
    asdasdasdasdasdasdasdasdasdasdassadasdsa...</p>
    <p class="card-text"><small class="text-muted">Hotel Location</small></p>
  </div>
</div>-->
<div class="col-md-4">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/03/28/12/35/cat-1285634__180.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Hotel Name</h5>
    <p class="card-text">Hotel Description .....</p>
    <a href="#" class="btn btn-primary">Details</a>
  </div>
</div>
    </div>