<link href="../../static/css/home.css" rel="stylesheet">
{% extends "layout.html" %}
{% block title %}Ticketz Expedition {% endblock %}
{% block body %}
    {% include "components/admin/navbar.html" %}



    <div class="container-fluid p-5">



      <div class="row m-auto text-center w-75">
      {% for (id, ticket) in tickets %}
        <div class="col-4 princing-item green" id="ticket-{{ ticket.ticket_id }}">
              <div class="pricing-divider ">
                  <h3 class="text-light">{{ ticket.firm.name }}</h3>
                    <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3">$</span> {{ ticket.expedition.price }} <span class="h5"></span></h4>

              </div>

              <div class="card-body bg-gradient mt-0 shadow">
                <ul class="list-unstyled mb-5 position-relative">
                  <li><b>{{ ticket.seat_number }}</b> Seat Number</li>
                  <li><b>{{ ticket.extra_baggage }}</b> Extra Baggage</li>
                  <li><b>{{ ticket.expedition.date }}</b> Date</li>
                  <li><b>{{ ticket.expedition.dep_time }}</b> Departure Time</li>
                  <li><b>{{ ticket.expedition.arr_time }}</b> Arrival Time</li>
                  <li><b>{{ ticket.expedition.from_city }}</b> From City</li>
                  <li><b>{{ ticket.expedition.from_ter_name }}</b> From Terminal</li>
                  <li><b>{{ ticket.expedition.to_city }}</b> To City</li>
                  <li><b>{{ ticket.expedition.from_ter_name }}</b> To Terminal</li>
                  <li><b>{{ ticket.expedition.plane_name }}</b> Plane Name</li>
                  <li><b>{{ ticket.expedition.driver_name }}</b> Driver Name</li>
                    {% if (ticket.expedition.document_link) %}
                        <li><a href="{{ ticket.expedition.document_link }}" target="_blank"><b>Click to Download</b></a> Document</li>
                    {% endif %}
                </ul>

              {% if ticket.editable %}
                  <a href="/ticket/edit/{{ ticket.ticket_id }}"><button type="button" class="btn btn-lg btn-block  btn-info ">Edit Ticket </button></a>
              {% endif %}
              {% if ticket.is_cancelable %}
                  <a href="/ticket/delete/{{ ticket.ticket_id }}" target="_blank" onclick="$('#ticket-{{ ticket.ticket_id }}').hide();"><button type="button"  class="btn btn-lg btn-block  btn-custom ">Cancel The Ticket </button></a>
              {% endif %}

              </div>
        </div>
          {% else %}
                <div class="alert alert-danger">
                  <strong>Not Found!</strong> There is no Ticket record
                </div>
      {% endfor %}
      </div>

    </div>




    </div>
    {% include "components/admin/footer.html" %}

{% endblock %}