<link href="../../static/css/firm/expedition.css" rel="stylesheet">
{% extends "layout.html" %}
{% block title %}Ticketz Expedition {% endblock %}
{% block body %}
    {% include "components/admin/navbar.html" %}
    <div class="container-fluid p-5">
      <div class="row m-auto text-center w-75">
        <div class="col-4 col-centered princing-item green">
              <div class="pricing-divider ">
                  <h3 class="text-light">{{ firm.name }}</h3>
                    <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3">$</span> {{ expedition.price }} <span class="h5"></span></h4>

              </div>

              <div class="card-body bg-gradient mt-0 shadow">
                <ul class="list-unstyled mb-5 position-relative">
                  <li><b>{{ expedition.date }}</b> Date</li>
                  <li><b>{{ expedition.dep_time }}</b> Departure Time</li>
                  <li><b>{{ expedition.arr_time }}</b> Arrival Time</li>
                  <li><b>{{ expedition.from_city }}</b> From City</li>
                  <li><b>{{ expedition.from_ter_name }}</b> From Terminal</li>
                  <li><b>{{ expedition.to_city }}</b> To City</li>
                  <li><b>{{ expedition.from_ter_name }}</b> To Terminal</li>
                  <li><b>{{ expedition.current_cap }}</b> bought</li>
                  <li><b>{{ expedition.total_cap }}</b> capacity</li>
                  <li><b>{{ expedition.plane_name }}</b> Plane Name</li>
                  <li><b>{{ expedition.plane_category }}</b> Plane Category</li>
                  <li><b>{{ expedition.driver_name }}</b> Driver Name</li>
                    {% if (expedition.document_link) %}
                        <li><a href="{{ expedition.document_link }}" target="_blank"><b>Click to Download</b></a> Document</li>
                    {% endif %}
                </ul>
                <button type="button" class="btn btn-lg btn-block  btn-custom ">Buy a Ticket </button>
              </div>
        </div>
      </div>
    </div>



    </div>
    {% include "components/admin/footer.html" %}

{% endblock %}