<link href="../static/css/home.css" rel="stylesheet">
{% extends "layout.html" %}
{% block title %}Ticketz Home Page{% endblock %}
{% block body %}
    {% include "components/admin/navbar.html" %}



    <div class="container-fluid p-5">



      <div class="row m-auto text-center w-75">
      {% for (id, expedition) in expeditions %}
        <div class="col-4 col-centered princing-item green">
              <div class="pricing-divider ">
                  <h3 class="text-light">{{ expedition.firm.name }}</h3>
                    <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3">$</span> {{ expedition.price }} <span class="h5"></span></h4>

              </div>

              <div class="card-body mt-0 shadow bg-gradient">
                <ul class="list-unstyled mb-5 position-relative">
                  <li><b>{{ expedition.date }}</b> Date</li>
                  <li><b>{{ expedition.dep_time }}</b> Departure Time</li>
                  <li><b>{{ expedition.arr_time }}</b> Arrival Time</li>
                  <li><b>{{ expedition.from_city }}</b> From City</li>
                  <li><b>{{ expedition.from_ter_name }}</b> From Terminal</li>
                  <li><b>{{ expedition.to_city }}</b> To City</li>
                  <li><b>{{ expedition.from_ter_name }}</b> To Terminal</li>
                  <li><b>{{ expedition.current_cap }}</b> bought</li>
                  <li><b>{{ expedition.total_cap }}</b> capacity</li>

                </ul>
              {% if user %}
                  <a href="/ticket/buy/{{ id }}"><button type="button" class="btn btn-lg btn-block  btn-success ">Buy a Ticket </button></a>

              {% else %}
                  <a href="/login"><button type="button" class="btn btn-lg btn-block  btn-custom ">Login</button></a>

              {% endif %}
                <a href="/firm/expedition/{{ expedition.expedition_id }}"><button type="button" class="btn btn-lg btn-block  btn-info ">Details About Expedition </button></a>

                </div>
        </div>
      {% endfor %}
      </div>

    </div>




    {% include "components/admin/footer.html" %}
{% endblock %}