<link href="../../static/css/admin/admin_home_page.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% extends "layout.html" %}
{% block title %}Vehicle List{% endblock %}
{% block body %}
    {% include "components/firm/navbar.html" %}
    <div class="container">
        <div style="margin-top: 150px;" class="container">
        <h3>Vehicle List</h3>
        <hr>

        <br>
        <table class="table">
            {% if vehicles==[] %}
                <div class="alert alert-warning" role="alert">
                    There is not any Vehicle
                </div>
            {% else%}
                <thead>
                        <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Vehicle Name</th>
                        <th scope="col">Category</th>
                            <th scope="col">Capacity</th>
                        <th scope="col">Model</th>
                        <th scope="col">Production Year</th>
                        <th scope="col">Production Place</th>
                        <th scope="col">Description</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for (id, vehicle) in vehicles %}
                            <tr>
                                <th scope="row">{{id}}</th>
                                <td>{{ vehicle.name}}</td>
                                <td>{{ vehicle.category}}</td>
                                <td>{{ vehicle.capacity}}</td>
                                <td>{{ vehicle.model}}</td>
                                <td>{{ vehicle.production_year}}</td>
                                <td>{{ vehicle.production_place}}</td>
                                <td>{{ vehicle.description}}</td>
                                <td><a href="/firm/{{  session.get('firm_id')  }}/vehicle_edit/{{ id}}" class="btn btn-info">Edit</a></td>
                                <td><a href="/firm/{{  session.get('firm_id') }}/delete_vehicle/{{ id}}" class="btn btn-danger">Delete</a></td>


                            </tr>
                        {% endfor %}


                    </tbody>
                </table>

            {% endif %}



    </div>
    </div>
    {% include "components/firm/footer.html" %}
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


{% endblock %}






