<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticketz - UnAuthorized</title>

	<link type="text/css" rel="stylesheet" href="/static/403_un_auth.css">
</head>
<body style="position: relative;
    background-repeat:no-repeat;
    background-size:100% 100vh;" background="https://cdn.dribbble.com/users/2467493/screenshots/5370414/untitled_artwork_9.png">
    <div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<div></div>
				<h1>403</h1>
			</div>
			<h2>Un Authorized</h2>
			<br><br>
            <a href="/">home page</a>
		</div>
	</div>
</body>
</html>