<link href="../../static/admin/admin_home_page.css" rel="stylesheet">
{% extends "layout.html" %}
{% block title %}Admin Home Page{% endblock %}
{% block body %}
    <div class="container">
        <div class="row">
        {% include "components/admin/navbar.html" %}
        {% include "components/admin/hotel_card.html" %}
        {% include "components/admin/hotel_card.html" %}
        {% include "components/admin/hotel_card.html" %}
        {% include "components/admin/hotel_card.html" %}
        {% include "components/admin/hotel_card.html" %}
        {% include "components/admin/hotel_card.html" %}
        {% include "components/admin/hotel_card.html" %}
        {% include "components/admin/hotel_card.html" %}
        {% include "components/admin/hotel_card.html" %}
        </div>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
        <h1>deneme</h1>
    </div>
    {% include "components/admin/footer.html" %}
{% endblock %}