<link href="../../static/admin/admin_home_page.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

{% extends "layout.html" %}
{% block title %}Ticketz -  Hotel Edit{% endblock %}
{% block body %}
    {% include "components/admin/navbar.html" %}
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <section class="content">
                    <div class="card">

                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>Preview</h1>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="card-body">
                            <label>Hotel Name</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-hotel"></i>
                                    </span>
                                </div>
                                    <input disabled id="js_hotel_name" type="text" class="form-control" >
                            </div>
                            <br>

                            <label>Hotel e-Mail</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-at"></i>
                                    </span>
                                </div>
                                <input disabled id="js_e_mail" type="text" class="form-control" >
                            </div>
                            <br>

                            <label>Hotel Description</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                    </div>
                                    <textarea disabled id="js_description" class="form-control"></textarea>
                                </div>
                            <br>

                            <label>City</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-map"></i>
                                    </span>
                                </div>
                                <input disabled id="js_city" type="text" class="form-control" >
                            </div>
                            <br>

                            <label>Hotel Address</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </span>
                                    </div>
                                    <textarea disabled id="js_address" class="form-control"></textarea>
                                </div>
                            <br>

                            <label>Phone</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-phone-square"></i>
                                    </span>
                                </div>
                                <input disabled id="js_phone" type="text" class="form-control" >
                            </div>
                            <br>

                            <label>Website</label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fas fa-globe"></i>
                                    </span>
                                </div>
                                <input disabled id="js_website" type="text" class="form-control" >
                            </div>
                            <br>

                            <label> Photos</label>
                            {%  for (id, image) in images %}
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-image"></i>
                                        </span>
                                    </div>
                                    <img class="card-img-top"  src='data:image/png;base64,{{image}}' style="height: 40%; width: 40%;">
                                    <a href="/admin/delete_image/{{hotel_id }}/{{id}}">
                                        <span class="input-group-text">
                                            <i class="fas fa-trash-alt"></i>
                                        </span>
                                    </a>
                                </div>

                            <br>
                            {% endfor %}

                        </div>

                    </div>
                </section>


            </div>
            <div class="col-sm-7">
                <section class="content">
                    <div class="card">

                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>Edit Hotel</h1>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="card-body">
                            <form method="post" action=""  enctype = "multipart/form-data" role="form" name="edit_hotel" id="edit_hotel">
                                <label for="hotel_name" >Hotel Name*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-hotel"></i>
                                        </span>
                                    </div>
                                    <input value="{{hotel.name}}" name="hotel_name" id="hotel_name" type="text" class="form-control" placeholder="Enter The Hotel Name" maxlength="25" required>
                                </div>

                                <label for="photo">Logo</label>
                                <div class="input-group" id="Logo">
                                    <div class="input-group" id="logo">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-images"></i>
                                            </span>
                                        </div>
                                        {% if hotel.logo %}
                                            <img id="logo_image" class="img-thumbnail" style="height: 40%; width: 40%;" alt="logo"  src='data:image/png;base64,{{ hotel.logo }}' >

                                        {% else %}
                                            <img id="logo_image" class="img-thumbnail" style="height: 40%; width: 40%;" alt="logo" src="http://www.staticwhich.co.uk/static/images/products/no-image/no-image-available.png">
                                        {% endif %}

                                        <label for="logo" hidden></label>
                                        <input onchange="loadFile(event)" type="file" id="logo" name="logo" accept="image/*" />
                                        <a href="/admin/delete_logo/{{ hotel_id }}"><span onclick="clicked()" class="input-group-text">
                                            <i  class="fas fa-minus"></i>
                                        </span></a>
                                    </div>
                                </div>

                                <br>
                                <label for="e_mail">Hotel e-Mail*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-at"></i>
                                        </span>
                                    </div>
                                    <input value="{{hotel.email}}" name="e_mail" id="e_mail" type="text" class="form-control" placeholder="Enter The Hotel e-Mail" maxlength="50" required>
                                </div>

                                <br>
                                <label for="description">Hotel Description*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-info-circle"></i>
                                        </span>
                                    </div>
                                    <textarea value="{{hotel.description}}" name="description" id="description" class="form-control" placeholder="Enter The Hotel Description" maxlength="250" required>{{hotel.description}}</textarea>
                                </div>
                                <br>

                                <label for="city">City*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map"></i>
                                        </span>
                                    </div>
                                    <input value="{{hotel.city}}" name="city" id="city" type="text" class="form-control" placeholder="Enter The City" maxlength="20" required>
                                </div>
                                <br>

                                <label for="address">Hotel Address*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </span>
                                    </div>
                                    <textarea value="{{hotel.address}}" name="address" id="address" class="form-control" placeholder="Enter The Hotel Address" maxlength="250" required>{{hotel.address}}</textarea>
                                </div>
                                <br>

                                <label for="phone">Phone*</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-phone-square"></i>
                                        </span>
                                    </div>
                                    <input value="{{hotel.phone}}" name="phone" id="phone" type="text" class="form-control" placeholder="Enter The Phone" maxlength="15" required>
                                </div>
                                <br>

                                <label for="website">Website</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-phone-square"></i>
                                        </span>
                                    </div>
                                    <input value="{{hotel.website}}" name="website" id="website" type="text" class="form-control" placeholder="Enter The Website" maxlength="50" required>
                                </div>
                                <br>

                                <label for="s" hidden></label>
                                <input type="number" id="s" name="s" hidden >

                                <label for="photo">Photos</label>
                                <div class="input-group" id="images">
                                    <div class="input-group" id="i0">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-images"></i>
                                            </span>
                                        </div>
                                        <label for="images0" hidden></label>
                                        <!--<input hidden type="file" name="file[]" multiple="" accept="image/*">-->
                                        <img id="images0" >
                                        <input onchange="loadImage(event, 0)" type="file" name="image0" accept="image/*" />
                                        <span onclick="imageAdd()" class="input-group-text">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                    </div>
                                </div>
                                <br>

                                <div class="input-group">
                                    <div id="recaptcha" class="g-recaptcha" data-sitekey="6LccwnwUAAAAAG8JphQH654xXnS00pNpgzmjTxUX"></div>

                                </div>
                                <br>
                            </form>
                            <div class="card-footer">
                                <button type="submit" onclick="edit()" class="btn btn-info float-right">Update</button>
                                <button type="submit" class="btn btn-default" onclick="document.getElementById('edit_hotel').reset();">Clear</button>
                            </div>

                            <div class="message-box-danger" style="display: none">
                                <div class="alert alert-danger alert-dismissible" style="display:block; margin: 10px;">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    Please Fill All Necessary *</div>
                            </div>
                        </div>

                            </div>
                </section>



            </div>

        </div>
    </div>

    <br>
    <br>
    {% include "components/admin/footer.html" %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/../static/js/admin/edit_hotel.js"></script>


{% endblock %}