<link href="../static/css/home.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../../static/css/firm/bootstrap-datepicker.css">
{% extends "layout.html" %}
{% block title %}Ticketz Home Page{% endblock %}
{% block body %}
    {% include "components/admin/navbar.html" %}



    <div class="container-fluid p-5">

        <form action="/" method="POST" >
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="">Filter</span>
              </div>
              <select class="form-control" name="from" id="from" onchange="$('#from_ter').show()">
                <option selected disabled value="*">Select From City</option>
                {% for city in cities %}
                    <option  value="{{ city[0] }}"> {{ city[1]  }} </option>
                {% endfor %}
              </select>
              <select class="form-control" style="display: none;" name="from_ter" id="from_ter">

              </select>
                <select class="form-control" name="to" id="to" onchange="$('#to_ter').show()">
                <option selected disabled value="*">Select To City</option>
                {% for city in cities %}
                    <option  value="{{ city[0] }}"> {{ city[1]  }} </option>
                {% endfor %}
              </select>
              <select class="form-control" style="display: none;" name="to_ter" id="to_ter">

              </select>

              <select class="form-control" name="firm_id" id="firm_id">
                    <option value="*" disabled selected>Select a Firm</option>
                    {% for (id, expedition) in expeditions %}
                        <option value="{{ expedition.firm_id }}"> {{ expedition.firm.name }}</option>
                    {% endfor %}
              </select>

                <div class="date" data-provide="datepicker">

                    <input placeholder="Pick a Day" type="text" id="date"  autocomplete="off" name="date" class="form-control">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
               <input placeholder="Maximum Price" type="number" id="max_price"  name="max_price" min="1" step="1" oninput="this.value=this.value.replace(/[^0-9]/g,'');" class="form-control currency">
                <button type="button" class="btn btn-lg btn-block  btn-info" onclick="submit()">Filter </button>
            </div>
        </form>
    <br>

      <div class="row m-auto text-center w-75">
      <input hidden value="{{ expeditions|length }}" id="hidden_expedition">
      {% for (id, expedition) in expeditions %}
        <div class="col-4 col-centered princing-item green">
            <input hidden value="{{ id }}" id="expedition-{{ loop.index }}" >

              <div class="pricing-divider ">
                  <h3 class="text-light">{{ expedition.firm.name }}</h3>
                    <h4 class="my-0 display-2 text-light font-weight-normal mb-3"><span class="h3">$</span> {{ expedition.price }} <span class="h5"></span></h4>

              </div>

              <div class="card-body bg-gradient mt-0 shadow">
                <ul class="list-unstyled mb-5 position-relative">
                  <li><b>{{ expedition.date }}</b> Date</li>
                  <li><b>{{ expedition.dep_time }}</b> Departure Time</li>
                  <li><b>{{ expedition.arr_time }}</b> Arrival Time</li>
                  <li><b>{{ expedition.from_city }}</b> From City</li>
                  <li><b>{{ expedition.from_ter_name }}</b> From Terminal</li>
                  <li><b>{{ expedition.to_city }}</b> To City</li>
                  <li><b>{{ expedition.from_ter_name }}</b> To Terminal</li>
                  <li><b>{{ expedition.current_cap }}</b> bought</li>
                  <li><b>{{ expedition.total_cap }}</b> capacity</li>

                </ul>
              {% if user %}
                  <a href="/ticket/buy/{{ id }}"><button type="button" class="btn btn-lg btn-block  btn-success ">Buy a Ticket </button></a>

              {% else %}
                  <a href="/login"><button type="button" class="btn btn-lg btn-block  btn-custom ">Login</button></a>

              {% endif %}
                <a href="/firm/expedition/{{ expedition.expedition_id }}"><button type="button" class="btn btn-lg btn-block  btn-info ">Details About Expedition </button></a>

                </div>
        </div>
      {% endfor %}
      </div>

    </div>



    <script src="../static/js/home_page.js"></script>
    <script src="../static/js/firm/bootstrap-datepicker.js"></script>
    {% include "components/admin/footer.html" %}
{% endblock %}