<link href="../../static/stylesheet_signup.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

{% extends "layout.html" %}
{% block title %}Sign up{% endblock %}
{% block body %}
{% if error != "" %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
    <div class="container">
        <div class="d-flex justify-content-center h-100">
            <div class="card">
                <div class="card-header">
                    <h3>Sign up</h3>

                <div class="card-body">
                    <form action="" method='POST'> 
                        
                        <div class="input-group form-group">
                            <input type="text" name="username" class="form-control" placeholder="username" 
                            pattern=".{3,25}" required title="3 to 25 characters" value="{{request.form.username }}">	
                        </div>

                        <div class="input-group form-group">
                            <input type="text" name="name" class="form-control" placeholder="name"
                            pattern=".{3,50}" required title="3 to 50 characters" value="{{request.form.name }}">						
                        </div>

                        <div class="input-group form-group">
                            <input type="text" name="surname" class="form-control" placeholder="surname"
                            pattern=".{3,50}" required title="3 to 50 characters" value="{{request.form.surname }}">
                        </div>

                        <div class="input-group form-group">
                                <label for="gndr">Gender</label>
                                <input type="radio" id="gndr" name="gender" value="m" checked> Male<br>
                                <input type="radio" id="gndr" name="gender" value="f" checked> Female<br>						
                        </div>

                        <div class="input-group form-group">
                                <input type="text" name="mail" class="form-control" placeholder="e-mail"
                                pattern=".{5,50}" required title="3 to 25 characters" value="{{request.form.mail }}">
                        </div>

                        <div class="input-group form-group">
                                <input type="password" name="password" class="form-control" placeholder="password"
                                pattern=".{8,}" required title="min 8 characters" value="{{request.form.password }}">
                        </div>

                        <div class="input-group form-group">
                            <input type="text" name="phone" class="form-control" placeholder="phone"
                            pattern=".{8,15}" required title="8 to 15 characters" value="{{request.form.phone }}">						
                        </div>

                        <div class="input-group form-group">
                                <input type="text" name="address" class="form-control" placeholder="address"
                                pattern=".{5,250}" required title="5 to 250 characters" value="{{request.form.address }}">
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Submit" class="btn float-right login_btn">
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% include "components/admin/footer.html" %}
{% endblock %}