<link href="../../static/css/admin/admin_home_page.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

{% extends "layout.html" %}
{% block title %}Add Terminal{% endblock %}
{% block body %}
    {% include "components/admin/navbar.html" %}
    <div class="container">
        <div class="row">

            <div class="col-sm-7">
                <section class="content">
                    <div class="card">

                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>Add Terminal</h1>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="card-body">
                            <form method="post" action="" enctype = "multipart/form-data"  role="form" name="add_terminal" id="add_terminal">
                                <label for="terminall_name" >Terminal Name</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input name="terminal_name" id="terminal_name" type="text" class="form-control" placeholder="Enter The Terminal Name" maxlength="50" required>
                                </div>

                                <br>

                                <label for="terminal_code">Terminal Code</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input name="terminal_code" id="terminal_code" type="text" class="form-control" placeholder="Enter The Terminal Code" maxlength="6" required>
                                </div>

                                <label for="city">City</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map"></i>
                                        </span>
                                    </div>
                                    <select class="form-control" name="city" id="city">
                                        {% for (id, city_name) in cities %}
                                            <option value="{{ id }}">{{ city_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <br>

                                <label for="address">Terminal Address</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </span>
                                    </div>
                                    <textarea name="address" id="address" class="form-control" placeholder="Enter The Terminal Address" maxlength="250" required></textarea>
                                </div>
                                <br>

                                <label for="phone">Phone</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-phone-square"></i>
                                        </span>
                                    </div>
                                    <input name="phone" id="phone" type="text" class="form-control" placeholder="Enter The Phone" maxlength="15" required>
                                </div>
                                
                                <label for="email">Terminal e-Mail</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-at"></i>
                                            </span>
                                        </div>
                                        <input name="e_mail" id="e_mail" type="text" class="form-control" placeholder="Enter The Terminal e-Mail" maxlength="50" required>
                                    </div>

                                <label for="description">Terminal Description</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="fas fa-info-circle"></i>
                                            </span>
                                        </div>
                                        <textarea name="description" id="description" class="form-control" placeholder="Enter The Terminal Description" maxlength="60" required></textarea>
                                    </div>
                                <br>
                                
                
                                <br>
                                <div class="form-group">
                                    <input type="submit" value="submit" class="btn float-right login_btn">
                                </div>         
                            </form>


                            
                        </div>

                    </div>
                </section>



            </div>

        </div>
    </div>

    <br>
    <br>
    {% include "components/admin/footer.html" %}
{% endblock %}