<link href="../../static/css/admin/admin_home_page.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

{% extends "layout.html" %}
{% block title %}Edit User{% endblock %}
{% block body %}
    {% include "components/admin/navbar.html" %}
    <div class="container">
        <div class="row">

            <div class="col-sm-7">
                <section class="content">
                    <div class="card">

                        <section class="content-header">
                            <div class="container-fluid">
                                <div class="row mb-2">
                                    <div class="col-sm-6">
                                        <h1>Edit User</h1>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="card-body">
                            <form method="post" action="" enctype = "multipart/form-data"  role="form" name="add_terminal" id="add_terminal">
                                <label for="user_name" >Username</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input value="{{ edit_user[1] }}" name="user_name" id="user_name" type="text" class="form-control" placeholder="Enter The Username" maxlength="15" required>
                                </div>

                                <br>

                                <label for="email">E-mail</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input value="{{ edit_user[2] }}" name="email" id="email" type="text" class="form-control" placeholder="Enter The E-mail" maxlength="50" required>
                                </div>
                            </br>
                                <label for="password">Password</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input value="{{ edit_user[3] }}" name="password" id="password" type="password" class="form-control" placeholder="Enter The Password" maxlength="16" required>
                                </div>
                                <br>

                                <label for="name" >Name</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input value="{{ edit_user[4] }}" name="name" id="name" type="text" class="form-control" placeholder="Enter The name" maxlength="50" required>
                                </div>

                                <br>

                                <label for="surname" >Surname</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                    </div>
                                    <input value="{{ edit_user[5] }}" name="surname" id="surname" type="text" class="form-control" placeholder="Enter The surname" maxlength="50" required>
                                </div>

                                <br>


                                <label for="phone">Phone</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-phone-square"></i>
                                        </span>
                                    </div>
                                    <input value="{{ edit_user[6] }}" name="phone" id="phone" type="text" class="form-control" placeholder="Enter The Phone" maxlength="15" required>
                                </div>

                            </br>

                                <label for="gender">Gender</label>
                                    <div class="input-group">
                                        {% if edit_user[7] == 'm' %}
                                            <label class="radio-inline">
                                                <input type="radio" name="gender" value="m" checked>Male
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="gender" value="f">Female
                                            </label>
                                        {% else %}
                                            <label class="radio-inline">
                                                <input type="radio" name="gender" value="m">Male
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="gender" value="f" checked>Female
                                            </label>
                                        {% endif %}
                                    </div>

                                </br>


                                <label for="address">Address</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fas fa-map-marked-alt"></i>
                                        </span>
                                    </div>
                                    <textarea value="{{ edit_user[8] }}" name="address" id="address" class="form-control" placeholder="Enter The User Address" maxlength="250" required>{{ edit_user[8] }}</textarea>
                                </div>
                                <br>

                                <label for="is_admin">Is Admin?</label>
                                    <div class="input-group">
                                        {% if edit_user[9] %}
                                            <label class="radio-inline">
                                                <input type="radio" name="is_admin" value="true" checked>True
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="is_admin" value="false">False
                                            </label>
                                        {% else %}
                                            <label class="radio-inline">
                                                <input type="radio" name="is_admin" value="true" >True
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="is_admin" value="false" checked>False
                                            </label>
                                        {% endif %}
                                    </div>
                                    
                                </br>
                                
                
                                <br>
                                <div class="form-group">
                                    <input type="submit" value="submit" class="btn float-right login_btn">
                                </div>         
                            </form>


                            
                        </div>

                    </div>
                </section>



            </div>

        </div>
    </div>

    <br>
    <br>
    {% include "components/admin/footer.html" %}
{% endblock %}